.right_sidebar {
  position: absolute;
  flex-direction: column;
  z-index: 1000;
  top: 90px;
  right: 60px;
  width: 370px;
  height: 80vh;
}

.accordion :global(.MuiAccordion-region)::before {
  display: none;
}

.right_sidebar :global(.MuiAccordion-root)::before {
  display: none;
}

.right_sidebar :global(.MuiAccordionSummary-root) {
  padding: 0 10px 0 0 !important;
  min-height: auto !important;
}

/* Если нужно применить только к первому аккордеону
.right_sidebar
  :global(.MuiAccordion-root):first-child
  :global(.MuiAccordionSummary-root) {
  padding: 0 10px 0 0 !important;
  min-height: auto !important;
} */

/* Если нужно применить к конкретному аккордеону по ID */
.right_sidebar :global(#panel1-header) {
  padding: 0 26px 0 16px !important;
  min-height: auto !important;
}
