.wrapper {
  background: #fff;
  min-width: 200px;
  position: absolute;
  right: 50px;
  top: 196px;
  z-index: 2;
  min-height: 50vh;
  border-radius: 10px;
}

.danger {
  background: rgba(213, 38, 35, 0.639);
  color: rgb(47, 25, 18);
}

.warning {
  background: rgba(255, 193, 7, 0.639);
  color: rgb(47, 25, 18);
}

.under-control {
  background: rgba(75, 82, 76, 0.639);
  color: rgb(38, 40, 39);
}

.aprove-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
