.filters {
  position: absolute;
  z-index: 1000;
  top: 90px;
  right: 60px;
  width: 370px;
  height: 70vh;
}

.filters-card {
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  border-radius: 25px !important;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.15);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 74px;
}

.form-field-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.form-field-group-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.form-field-group-checkbox-label {
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form-field-group-checkbox {
  padding: 0 !important;
}

.form-field-group-radios {
  margin-left: 16px;
  padding: 8px 0;
}

.form-field-group-radio-label {
  display: flex;
  justify-content: space-between;
}

.form-field-group-radio {
  padding: 0 !important;
}

.form-field-group-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form-button-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 74px;
  /* position: absolute; */
  z-index: 1001;
  bottom: 0;
  left: 0;
  width: calc(100% - 3px);
}

.form-button {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  height: 34px;
  margin: 16px;
  width: calc(100% - 32px);
  background-color: #0d4cd3;
  color: white;
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}

.tooltip-question {
  margin: 0;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 2px gray solid;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  display: block;
}

.tooltip {
  position: absolute;
  z-index: 1001;
  background-color: white;
  padding: 8px;
  top: 0;
  left: 360px;
}

.by-point-coords {
  max-width: 100%;
}
