@import url("./vendor/normalize.css");

@import url("./vendor/fonts.css");

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Nunito", sans-serif; */
}
.sr-only {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 14px;
  /* border: 1px solid #efefef; */
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: none;
}
